main {
    position: absolute;
    width: 1100px;
    top: 35px;
    left: 240px;
    margin-left: 50px;
    margin-right: 50px;
}
p{
    margin:0;
}
h2{
    font-size: 30px;

}
.entete{
    display: flex;
    justify-content: space-between;
}
.compte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 205px;
    height: 44px;
}

.filtre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
.newCampaign{
    border-radius: 10px;
    background-color: #D95E54 ;
    border: initial;
    width: 180px;
    height: 44px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.gestioncampagne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 483px;
}
.gestioncampagne p:first-child {
    font-weight: 600;
    border-right: 2px solid #97979799;
    padding-right: 25px;
}
.recherche{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 435px;
}
select{
    height: 44px;
    background-color: white;
    border: #EBEBEB solid 1px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #979797;
    font-size: 16px;
    width: 220px;
}

.recherche div{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 435px;
}
.recherche button{
    padding: 0;
    height: 44px;
}
input{
    height: 44px;
    background-color: white;
    border: #EBEBEB solid 1px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #313131;
    font-size: 16px;
    width: 149px;
}
.search{
    background-color: white;
    border: #EBEBEB solid 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 11px;
}

.campagnes{
    margin-top: 35px;
    background-color: white;
    border-radius: 10px;
    width: calc(100% - 50px);
    padding: 25px;
}

.legend{
    width: 82.5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.legend p{
    font-size: 20px;
    font-weight: 600;
}
.legend p:first-child{
    width: 50%;
}

button{
    background: none;
    border: none;
    width: 28px ;
}
button:hover{
    cursor: pointer;
}
.rotateArrow{
    rotate: 180deg;
}
.printPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changePage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
}
.changePage img{
    display: flex;
    align-items: center;
}
.changePage p{
    border: #EBEBEB solid 1px;
    border-radius: 10px;
    padding: 8px 10px;
    color: #979797;
}

